*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons_container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.buttons>button{
    padding: 10px;
    background-color:var(--text-color);
    margin: 5px;
    border-radius: 10px;
}
.text{
    font-size: 2em;
    margin: 2px;
  
}

.box{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}