@import "tailwindcss";

:root{
  --container-bg:#285A48;
  --container-font-size:12px;
  --text-color:#B0E4CC;
  --button-color:#FFA02E;
  
}
.container{
  background-color: var(--container-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
}

