*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --container-bg:#285A48;
  --container-font-size:12px;
  --text-color:#B0E4CC
}
.container{
  background-color: var(--container-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

